html, body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

#navbar {
  position: fixed;
  min-width: 290px;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 2px solid rgba(0, 22, 22, 0.4);
  background-color: #f8f9fa;
}

#navbar header {
  color: black;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: 300;
  padding: 20px 0;
  background-color: #343a40;
  color: white;
}

#main-doc header {
  text-align: left;
  margin: 0;
  font-size: 1.8em;
  color: #333;
  padding-top: 20px;
}

#navbar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #4d4e53;
  border-top: 1px solid rgba(0, 22, 22, 0.4);
  list-style: none;
  position: relative;
  width: 100%;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

#navbar a:hover {
  background-color: #e9ecef;
  color: #212529;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: #4d4e53;
  margin: 15px 0;
  font-size: 0.96em;
}

section li {
  margin: 15px 0 0 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

@media only screen and (max-width: 815px) {
  #navbar ul {
    border: 1px solid #333;
    height: 207px;
    margin: 0;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid rgba(0, 22, 22, 0.4);
  }

  #main-doc {
    position: relative;
    margin-left: 0;
    margin-top: 290px; 
  }

  #navbar header {
    background-color: #343a40;
    color: white;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
    padding: 10px;
  }

  code {
    margin-left: -20px;
    width: calc(100% + 40px);
    padding: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 233px;
  }
}